body{
            background-color: rgba(31, 50, 112, 0.03);
            background-image: url(imagens/paw-solid.svg);
            background-size: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        main{
            background-color: rgba(255, 255, 255, 0.9);
            width: 1024px;
            padding: 10px;
            margin: auto;
        }
        nav ul{
            height: 38px;
            list-style: none;
            padding: 0;
            border: 2px solid rgba(31, 50, 112, 0.3);
            background-color: #fff;
        }
        nav ul li{
            float: left;
            border-left: 1px solid rgba(31, 50, 112, 0.3);
            border-right: 1px solid rgba(31, 50, 112, 0.3);
        }
        nav ul li a{
            color: darkblue;
            text-decoration: none;
            font-size: 1.2em;
            padding: 8px 56px;
            line-height: 2em;
            text-align: center;
        }
        nav ul li :first-child{
            border-left: none;
        }
        nav ul li:last-child{
            border-right: none;
        }
        nav ul li a:hover{
            background-color: darkblue;
            color: #fff;
        }
        aside{
            float: right;
            background-color: #fff;
            padding: 15px;
            color: darkblue;
            border: 1px solid rgba(31, 50, 112, 0.3);
            border-radius: 5% 20%;
        }
        aside img{
            width: 32px;
            padding: 3px;
        }
        aside a{
            text-decoration: none;
        }
        aside a:hover{
            background-color: rgba(31, 50, 112, 0.3);
        }
        h1, h2{
            background-color: rgb(230, 230, 230);
            color: darkblue;
        }
        h5{
            color: #666;
            text-align: center;
        }
        h6{
            color: #666;
            text-align: center;
        }
        footer{
            text-align: center;
        }
        form{
            font-family: Gotham,"Helvetica Neue", Helvetica, Arial,"sans-serif";
        }
        fieldset{
            margin-top: 10px;
            border: 2px solid rgba(31, 50, 112, 0.3);
            padding-left: 20px;
            border-radius: 20px;
        }
        legend {
            font-weight: bolder;
            padding: 5px;
            color: darkblue;
            font-size: small;
        }
        p{
            line-height: 20px;
        }
        label[for="name"],
        label[for="email"],
        label[for="wpp"] {
            width: 10%;
            display: block;
            float: left;
            text-align: right;
            margin-right: 5px;
            padding: 2px;
        }
        input[name="nome"],
        input[name="email"],
        input[name="wpp"] {
            border: none;
            width: 85%;
            padding: 8px;
            border-bottom: 2px solid rgba(31, 50, 112, 0.3);
            background-color: rgba(31, 50, 112, 0.03);
        }
        .quadros {
            background-color: rgba(31, 50, 112, 0.03);
            width: 28%;
            border: 3px solid darkblue;
            /* Valor aplicado a odos os posicionamentos */
            padding: 1%;
            margin: 0 0 20px 2%;
            /* valor especificado para cada posicionamento */
            float: left;
        }
        #visao {
            background-color: rgba(31, 50, 112, 0.3);
        }